$primary-color: #184392;
$primary-color-light: #3e69ad;
$secundary-color: #3fb5e3;


$navbar-default-color:             $primary-color;
$navbar-default-bg:                #fff;


$brand-primary: $primary-color;

// Navbar links
$navbar-default-link-color:                $primary-color;
$navbar-default-link-hover-color:          $primary-color-light;
//$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         $primary-color;;
//$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
//$navbar-default-link-disabled-color:       #ccc !default;
//$navbar-default-link-disabled-bg:          transparent !default;


$font-family-sans-serif:  "Droid Sans", Helvetica, Arial, sans-serif !default;
$header-font-family: 'Oswald', sans-serif;




